html {
  box-sizing: border-box;
  background-color: darkblue;
}

h1, h2, h3, h4, h5, h6, li, p, b, strong, label, input {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 125%;
}

ul {
  padding-inline-start: 30px;
}

li {
  margin-top: 5px;
  list-style-type: disc;
}

input {
  font-size: medium;
}

body {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  padding-right: 5px;
  background-color: whitesmoke;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

section {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  padding-right: 5px;
  display: block;
  margin: auto;
  width: 100%;
}

footer {
  flex: 1; /*cannot make sticky footer*/
  min-height: 10px;
}

.title_text {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  padding-right: 5px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 50%;
  max-width: 75%;
  border-width: 3px;
  border-radius: 3px;
  background-color: rgb(255, 156, 145);
  padding: 15px;
}

.score_section {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  padding-right: 5px;
  width: 50%;
  display: block;
  background-color: lightcyan;
  margin: 5px;
}

#end_message_section {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  padding-right: 5px;
  display: none;
  text-align: center;
  max-width: 50%;
  position: fixed;
  left: 25%;
  top: 25%;
  z-index: 2;
  background-color: gold;
  box-shadow: 5px 5px;
}

#dice_button {
  display: block;
  margin: auto;
}

#button_section_wrapper {
  text-align: center;
  display: block;
  width: 65%;
  border-width: 2px;
  background-color: white;
}

#score_section_wrapper {
  align-items: center;
  min-height: 100%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

#wrapper {
  align-items: center;
  min-height: 100%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}